* {
    margin: 0;
    padding: 0;
}

.square {
    aspect-ratio: 1 / 1;
    font-size: 2em;
    height: 2em;
}

.boardSquare {
    background-color: var(--bs-secondary);
    border: 1px solid var(--bs-secondary-border-subtle)
}


button:hover {
    background-color: var(--bs-primary);
}


/* End Board */

#results {
    background-color: var(--bs-info);
    color: var(--bs-dark);
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

/* End Results */