* {
    margin: 0;
    padding: 0;
}

.square {
    aspect-ratio: 1 / 1;
    vertical-align: middle;
    font-size: 1.5em;
    height: 1.75em;
    padding: 0 0 8px 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .square {
        font-size: 1.75em;
        height: 2em;
        padding: 2px 0 2px 0;
    }
}

.stone {
    max-height: 100%;
    max-width: 100%;
}


.boardSquare {
    background-color: var(--bs-secondary);
    border: 1px solid var(--bs-secondary-border-subtle)
}


button:hover {
    background-color: var(--bs-primary);
}


/* End Board */

#results {
    background-color: var(--bs-info);
    color: var(--bs-dark);
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

/* End Results */