* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button:hover {
    background-color: rgba(0, 0, 128, 0.75);
}

.dark_square,
.light_square,
.square {
    border: 0;
    font-size: 2em;
    height: 2em;
    width: 2em;
}

.dark_square {
    background-color: #63452c;
}

.light_square {
    background-color: #cdab8f;
}

/* End Board */

#results {
    background-color: black;
    color: white;
    margin-top: 5px;
    text-align: center;
}

/* End Results */